<h1>Make Comments </h2>
<%= form_for [@commentable, @comment] do |f| %>
  <div class="form-group">
    <%= f.text_field :content, class: 'form-control  placeholder="Type comment..."' %>
  </div>
  <%= f.submit "Save Comment", class: 'btn btn-primary' %>
<% end %>