// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.userbtn{
	font-size: 14px;
	margin-top:20px;
	background-color: aqua;
}