<h1>Find  Properties in ....</h1>

  <div class="row">
  <% @properties.each do |property| %>
  <% if property.images.attached? %> 
  <% (0...property.images.count).each do |image| %>
    <% if user_signed_in? %>
  <div class="column">
  <%= link_to(image_tag(property.images[image],style:"width:400px;height;700px;"), property_path(property)) %>
  <div>
  <% elsif agent_signed_in? %>
     <% if property.agent_id == current_agent.id  %>
  <div class="column">
  <%= link_to(image_tag(property.images[image],style:"width:400px;height;700px;"), property_path(property)) %>
  <div>
     <% end %>
  <%else %>
  <div class="column">
  <%= image_tag(property.images[image],style:"width:400px;height;700px;") %>
  <div>
  <%end %>
  </div>
  </div>
  <%end%>
  <%end%>
  <%end %>
  </div>

  